<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:document xmlns:wpc="http://schemas.microsoft.com/office/word/2010/wordprocessingCanvas"
    xmlns:cx="http://schemas.microsoft.com/office/drawing/2014/chartex"
    xmlns:cx1="http://schemas.microsoft.com/office/drawing/2015/9/8/chartex"
    xmlns:cx2="http://schemas.microsoft.com/office/drawing/2015/10/21/chartex"
    xmlns:cx3="http://schemas.microsoft.com/office/drawing/2016/5/9/chartex"
    xmlns:cx4="http://schemas.microsoft.com/office/drawing/2016/5/10/chartex"
    xmlns:cx5="http://schemas.microsoft.com/office/drawing/2016/5/11/chartex"
    xmlns:cx6="http://schemas.microsoft.com/office/drawing/2016/5/12/chartex"
    xmlns:cx7="http://schemas.microsoft.com/office/drawing/2016/5/13/chartex"
    xmlns:cx8="http://schemas.microsoft.com/office/drawing/2016/5/14/chartex"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
    xmlns:aink="http://schemas.microsoft.com/office/drawing/2016/ink"
    xmlns:am3d="http://schemas.microsoft.com/office/drawing/2017/model3d"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:oel="http://schemas.microsoft.com/office/2019/extlst"
    xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
    xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math"
    xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:wp14="http://schemas.microsoft.com/office/word/2010/wordprocessingDrawing"
    xmlns:wp="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing"
    xmlns:w10="urn:schemas-microsoft-com:office:word"
    xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
    xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml"
    xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml"
    xmlns:w16cex="http://schemas.microsoft.com/office/word/2018/wordml/cex"
    xmlns:w16cid="http://schemas.microsoft.com/office/word/2016/wordml/cid"
    xmlns:w16="http://schemas.microsoft.com/office/word/2018/wordml"
    xmlns:w16du="http://schemas.microsoft.com/office/word/2023/wordml/word16du"
    xmlns:w16sdtdh="http://schemas.microsoft.com/office/word/2020/wordml/sdtdatahash"
    xmlns:w16sdtfl="http://schemas.microsoft.com/office/word/2024/wordml/sdtformatlock"
    xmlns:w16se="http://schemas.microsoft.com/office/word/2015/wordml/symex"
    xmlns:wpg="http://schemas.microsoft.com/office/word/2010/wordprocessingGroup"
    xmlns:wpi="http://schemas.microsoft.com/office/word/2010/wordprocessingInk"
    xmlns:wne="http://schemas.microsoft.com/office/word/2006/wordml"
    xmlns:wps="http://schemas.microsoft.com/office/word/2010/wordprocessingShape"
    mc:Ignorable="w14 w15 w16se w16cid w16 w16cex w16sdtdh w16sdtfl w16du wp14">
    <w:body>
        <w:p w14:paraId="41B6FB88" w14:textId="77777777" w:rsidR="00000000"
            w:rsidRDefault="00000000">
            <w:pPr>
                <w:rPr>
                    <w:rFonts w:hint="eastAsia" />
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="32" />
                    <w:szCs w:val="36" />
                </w:rPr>
            </w:pPr>
        </w:p>
        <w:p w14:paraId="23DC5D36" w14:textId="77777777" w:rsidR="00000000"
            w:rsidRDefault="00000000">
            <w:pPr>
                <w:jc w:val="center" />
                <w:rPr>
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="32" />
                    <w:szCs w:val="36" />
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:hint="eastAsia" />
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="32" />
                    <w:szCs w:val="36" />
                </w:rPr>
                <w:t>《{{ 课程概况["课程标题"] }}》教学设计</w:t>
            </w:r>
        </w:p>
        <w:p w14:paraId="57F09B0F" w14:textId="77777777" w:rsidR="00000000"
            w:rsidRDefault="00000000">
            <w:pPr>
                <w:rPr>
                    <w:rFonts w:hint="eastAsia" />
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="24" />
                    <w:szCs w:val="28" />
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:hint="eastAsia" />
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="24" />
                    <w:szCs w:val="28" />
                </w:rPr>
                <w:t>【课程概况】</w:t>
            </w:r>
        </w:p>
        <w:tbl>
            <w:tblPr>
                <w:tblW w:w="0" w:type="auto" />
                <w:tblInd w:w="0" w:type="dxa" />
                <w:tblBorders>
                    <w:top w:val="single" w:sz="4" w:space="0" w:color="auto" />
                    <w:left w:val="single" w:sz="4" w:space="0" w:color="auto" />
                    <w:bottom w:val="single" w:sz="4" w:space="0" w:color="auto" />
                    <w:right w:val="single" w:sz="4" w:space="0" w:color="auto" />
                    <w:insideH w:val="single" w:sz="4" w:space="0" w:color="auto" />
                    <w:insideV w:val="single" w:sz="4" w:space="0" w:color="auto" />
                </w:tblBorders>
                <w:tblLook w:val="0000" w:firstRow="0" w:lastRow="0" w:firstColumn="0"
                    w:lastColumn="0" w:noHBand="0" w:noVBand="0" />
            </w:tblPr>
            <w:tblGrid>
                <w:gridCol w:w="735" />
                <w:gridCol w:w="394" />
                <w:gridCol w:w="3019" />
                <w:gridCol w:w="71" />
                <w:gridCol w:w="2003" />
                <w:gridCol w:w="123" />
                <w:gridCol w:w="1951" />
            </w:tblGrid>
            <w:tr w:rsidR="00000000" w14:paraId="014CFD87" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="589" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="4479825D" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>授课对象</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3019" w:type="dxa" />
                        <w:shd w:val="clear" w:color="auto" w:fill="auto" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="048B038E" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 课程概况["授课对象"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2074" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="641402ED" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>课时规划</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2074" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="6EC11B9B" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 课程概况["课时规划"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="4132737A" w14:textId="77777777">
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="01A6CD08" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>参考教材</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3019" w:type="dxa" />
                        <w:shd w:val="clear" w:color="auto" w:fill="auto" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="77146D18" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:widowControl />
                            <w:jc w:val="left" />
                            <w:rPr>
                                <w:kern w:val="0" />
                                <w:sz w:val="24" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 课程概况["参考教材"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2074" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="65AA181B" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>学习领域</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2074" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="496BA1FE" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:ind w:firstLine="420" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 课程概况["学习领域"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="75CE989F" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="2854" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="4784DFDE" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>教材分析</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="4F8D2B9A" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:ind w:firstLineChars="200" w:firstLine="420" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{教材分析}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="7FF7838F" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="2635" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="11C1F843" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>学情分析</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="595DD66A" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:ind w:firstLineChars="200" w:firstLine="420" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{学情分析}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="46A09026" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="2175" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="557F0A19" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>设计思路</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="05B33262" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:ind w:firstLineChars="200" w:firstLine="420" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{设计思路}}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="75D7D59A" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="841" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="18C6E4A3" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>教学目标</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="213E0B19" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【审美感知】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学目标["审美感知"] }}</w:t>
                        </w:r>
                    </w:p>
                    <w:p w14:paraId="643C754D" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【艺术表现】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学目标["艺术表现"] }}</w:t>
                        </w:r>
                    </w:p>
                    <w:p w14:paraId="7E6D0627" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【文化理解】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学目标["文化理解"] }}</w:t>
                        </w:r>
                    </w:p>
                    <w:p w14:paraId="3791F7AF" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【创意实践】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学目标["创意实践"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="2A082647" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="838" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="742A7DC3" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:lastRenderedPageBreak />
                            <w:t>教学重难点</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="12A8E6F5" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【教学重点】</w:t>
                        </w:r>
                    </w:p>

                    {% for idx, line in enumerate(教学重难点["教学重点"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00E96BF7">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{idx}}.</w:t>
                        </w:r>
                        <w:r w:rsidR="00000000">
                            <w:t>{{line}}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                    <w:p w14:paraId="73045E70" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【教学难点】</w:t>
                        </w:r>
                    </w:p>
                    
                    {% for idx, line in enumerate(教学重难点["教学难点"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00E96BF7">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{idx}}.</w:t>
                        </w:r>
                        <w:r w:rsidR="00000000">
                            <w:t>{{line}}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="0648B9FA" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="695" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="15B142CB" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>教学方法</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="4C5C26C9" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{ "、".join(教学方法) }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
            <w:tr w:rsidR="00000000" w14:paraId="7F3078D6" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="988" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1129" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="2F134DD7" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>教学准备</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="7167" w:type="dxa" />
                        <w:gridSpan w:val="5" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="129DF66B" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【教具准备】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学准备["教具准备"] }}</w:t>
                        </w:r>
                    </w:p>
                    <w:p w14:paraId="51031B05" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>【学具准备】</w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ 教学准备["学具准备"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>

{# 教学环节表头 start #}
            <w:tr w:rsidR="00000000" w14:paraId="12D118F3" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="853" />
                </w:trPr>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="0198AAC6" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                            <w:t>教学环节</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="58DC1950" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                            <w:t>教师活动</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="0EC3F26D" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                            <w:t>学生活动</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="0E37EECE" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:jc w:val="center" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="22" />
                                <w:szCs w:val="24" />
                            </w:rPr>
                            <w:t>设计构思</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
{# 教学环节表头 end #}

{# 新课导入 start #}
            <w:tr w:rsidR="00000000" w14:paraId="7FBFA627" w14:textId="77777777">
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="7AB6DA05" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                            <w:t>新课导入</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>

                    {% for idx, line in enumerate(教学环节["新课导入"]["教师活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t xml:space="preserve">{{ idx }}. </w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>

                    {% for idx, line in enumerate(教学环节["新课导入"]["学生活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t xml:space="preserve">{{ idx }}. </w:t>
                        </w:r>
                        <w:r>
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                    </w:tcPr>
                    <w:p w14:paraId="600D77F4" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{ 教学环节["新课导入"]["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
{# 新课导入 end #}

{# 知识新授 start #}
            {% for idx, item in enumerate(教学环节["知识新授"]) %}

            <w:tr w:rsidR="00000000" w14:paraId="{{ paraId() }}" w14:textId="77777777">
                {# 表头  多行表头只有第一行有内容 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:vMerge w:val="restart" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                        </w:pPr>

                        {% if idx == 1 %}
                        <w:proofErr w:type="gramStart" />
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                            <w:t>知识新授</w:t>
                        </w:r>
                        <w:proofErr w:type="gramEnd" />
                        {% endif %}

                    </w:p>
                </w:tc>

                {# 教师活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>

                    {% for idx, line in enumerate(item["教师活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ idx }}. {{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 学生活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>
                    {% for idx, line in enumerate(item["学生活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ idx }}. {{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}
                </w:tc>

                {# 设计构思 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                    </w:tcPr>
                    <w:p w14:paraId="1E949F10" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:lastRenderedPageBreak />
                            <w:t>{{ item["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>

            {% endfor %}
{# 知识新授 end #}

{# 实践探究 start #}
            <w:tr w:rsidR="00000000" w14:paraId="64CAD03C" w14:textId="77777777">
                <w:trPr>
                    <w:trHeight w:val="927" />
                </w:trPr>

                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:vMerge w:val="restart" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="4862EFCA" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                            <w:lastRenderedPageBreak />
                            <w:t>实践展评</w:t>
                        </w:r>
                    </w:p>
                </w:tc>

                {# 教师活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>
                    <w:p w14:paraId="1695EABB" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRPr="00D20DB5" w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:numPr>
                                <w:ilvl w:val="0" />
                                <w:numId w:val="5" />
                            </w:numPr>
                            <w:rPr>
                                <w:b />
                                <w:bCs />
                            </w:rPr>
                        </w:pPr>
                        <w:r w:rsidRPr="00D20DB5">
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                            </w:rPr>
                            <w:t>实践</w:t>
                        </w:r>
                    </w:p>
                    
                    {% for idx, line in enumerate(教学环节["实践探究"]["教师活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ idx }}. {{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 学生活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>

                    {% for idx, line in enumerate(教学环节["实践探究"]["学生活动"]) %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ idx }}. {{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 设计构思 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                    </w:tcPr>
                    <w:p w14:paraId="37DAED35" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:t>{{ 教学环节["实践探究"]["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
{# 实践探究 end #}

{# 展示评价 start #}
            <w:tr w:rsidR="00000000" w14:paraId="06C0EBA2" w14:textId="77777777">
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:vMerge />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="53A380A9" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                        </w:pPr>
                    </w:p>
                </w:tc>

                {# 教师活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>
                    <w:p w14:paraId="428BBEB1" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRPr="00D20DB5" w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:numPr>
                                <w:ilvl w:val="0" />
                                <w:numId w:val="5" />
                            </w:numPr>
                            <w:rPr>
                                <w:b />
                                <w:bCs />
                            </w:rPr>
                        </w:pPr>
                        <w:r w:rsidRPr="00D20DB5">
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:b />
                                <w:bCs />
                            </w:rPr>
                            <w:t>展示评价</w:t>
                        </w:r>
                    </w:p>

                    {% for line in 教学环节["展示评价"]["教师活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00D20DB5">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r w:rsidR="00000000">
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 学生活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>

                    {% for line in 教学环节["展示评价"]["学生活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00D20DB5">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r w:rsidR="00000000">
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 设计构思 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                    </w:tcPr>
                    <w:p w14:paraId="65571254" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r>
                            <w:t>{{ 教学环节["展示评价"]["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                    <w:p w14:paraId="58671C99" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                    </w:p>
                </w:tc>

            </w:tr>
{# 展示评价 end #}

{# 小结 start #}
            <w:tr w:rsidR="00000000" w14:paraId="0C363F0C" w14:textId="77777777">
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:vMerge w:val="restart" />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                        <w:vAlign w:val="center" />
                    </w:tcPr>
                    <w:p w14:paraId="321C555B" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:sz w:val="28" />
                                <w:szCs w:val="32" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                                <w:sz w:val="24" />
                                <w:szCs w:val="28" />
                            </w:rPr>
                            <w:t>小结</w:t>
                        </w:r>
                    </w:p>
                </w:tc>

                {# 教师活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>
                    
                    {% for line in 教学环节["小结"]["教师活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor%}

                </w:tc>

                {# 学生活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>

                    {% for line in 教学环节["小结"]["学生活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00D20DB5">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r w:rsidR="00000000">
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 设计构思 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                        <w:vMerge w:val="restart" />
                    </w:tcPr>
                    <w:p w14:paraId="21207DBB" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 教学环节["小结"]["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
{# 小结 end #}

{# 课后作业 start #}
            <w:tr w:rsidR="00000000" w14:paraId="237368D3" w14:textId="77777777">
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="735" w:type="dxa" />
                        <w:vMerge />
                        <w:shd w:val="clear" w:color="auto" w:fill="D9D9D9" />
                    </w:tcPr>
                    <w:p w14:paraId="181D5D5E" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                    </w:p>
                </w:tc>

                {# 教师活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="3484" w:type="dxa" />
                        <w:gridSpan w:val="3" />
                    </w:tcPr>
                    
                    {% for line in 教学环节["课后作业"]["教师活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor%}

                </w:tc>

                {# 学生活动 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="2126" w:type="dxa" />
                        <w:gridSpan w:val="2" />
                    </w:tcPr>

                    {% for line in 教学环节["课后作业"]["学生活动"] %}
                    <w:p w14:paraId="{{ paraId() }}" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00D20DB5">
                        <w:pPr>
                            <w:pStyle w:val="p1" />
                        </w:pPr>
                        <w:r w:rsidR="00000000">
                            <w:t>{{ line }}</w:t>
                        </w:r>
                    </w:p>
                    {% endfor %}

                </w:tc>

                {# 设计构思 #}
                <w:tc>
                    <w:tcPr>
                        <w:tcW w:w="1951" w:type="dxa" />
                        <w:vMerge w:val="restart" />
                    </w:tcPr>
                    <w:p w14:paraId="21207DBB" w14:textId="77777777" w:rsidR="00000000"
                        w:rsidRDefault="00000000">
                        <w:pPr>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                        </w:pPr>
                        <w:r>
                            <w:rPr>
                                <w:rFonts w:hint="eastAsia" />
                            </w:rPr>
                            <w:t>{{ 教学环节["课后作业"]["设计构思"] }}</w:t>
                        </w:r>
                    </w:p>
                </w:tc>
            </w:tr>
{# 课后作业 end #}

        </w:tbl>
        <w:p w14:paraId="1D892DC3" w14:textId="77777777" w:rsidR="00461F85"
            w:rsidRDefault="00461F85">
            <w:pPr>
                <w:rPr>
                    <w:rFonts w:hint="eastAsia" />
                    <w:b />
                    <w:bCs />
                    <w:sz w:val="24" />
                    <w:szCs w:val="28" />
                </w:rPr>
            </w:pPr>
        </w:p>
        <w:sectPr w:rsidR="00461F85">
            <w:pgSz w:w="11906" w:h="16838" />
            <w:pgMar w:top="1440" w:right="1800" w:bottom="1440" w:left="1800" w:header="851"
                w:footer="992" w:gutter="0" />
            <w:cols w:space="720" />
            <w:docGrid w:type="lines" w:linePitch="312" />
        </w:sectPr>
    </w:body>
</w:document>